button {
  margin: 5px;
}

.color-picker-box {
  margin: 0.5rem;
  padding: 1rem;
}

.dropdown-button {
  display: inline;
}

canvas {
  z-index: 0;
}

.canvas-container {
  margin: 0 auto !important;
}

#canvas {
  background-color: white;
  box-shadow: 5px 10px 18px #ada8b6;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}

/* @media only screen and (min-width:600px) {
  Keep typical css rules here for when viewing in full page

  .home-page-image {
      width: 50%;
      display: block;

      border-radius: 20px;
  }
} */
