button {
    margin: 5px;
}

.color-picker-box {
    margin: 10px;
    padding: 20px;
}

.dropdown-button{
    display: inline;
}

canvas {
    z-index: 0;
}

.canvas-container {
    margin: 0 auto !important;
  }

#canvas {
    background-color: white;
    box-shadow: 5px 10px 18px #ADA8B6;
}
