button {
  margin: 5px;
}

.color-picker-box {
  margin: 10px;
  padding: 20px;
}

.dropdown-button {
  display: inline;
}

canvas {
  z-index: 0;
}

.canvas-container {
  margin: 0 auto !important;
}

#canvas {
  background-color: white;
  box-shadow: 5px 10px 18px #ada8b6;
}

.col-2 {
  padding-top: 150px;
}
.col-10 {
  padding-top: 20px;
}
