.footer {
  flex-shrink: 0;
  margin-top: 30px;
  padding-top: 20px;
  height: 140px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background: #e7e6e1;
}

.fa-github,
.fa-linkedin {
  color: royalblue;
  font-size: 40px;
}

.SWE {
  color: royalblue;
}

h3 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
}
