#side-nav {
  height: 100vh;
  background-color: #293039;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  min-width: 5em;
  max-width: 7em;
}

.nav-link i {
  font-size: 1.8em;
}

.nav-link p {
  font-size: 0.8em;
  padding-top: 3px;
}

.nav-link {
  text-align: center;
  color:lightgray;
  padding: 5px;
}

.nav-link:hover {
  color: azure;
}

/* #sidebar-container {
  width: 100px;
} */

nav {
  z-index: 2;
}


/* title for each category in sidebar */
.sidebar-img-title {
  color: #ffffff;
  padding-left: 30px;
}

.sidebar-imgs {
  padding-left: 20px;
}